{% extends "layout.html" %}
{% block content %}
{% block css %}

<style>
    
    * {
        margin: 0;
        padding: 0;
    }
    
    p{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        font-family: Pacifico, Calibri;
        font-size: 2em;
        
    }
    h2{
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        font-family: Pacifico, Calibri;
        font-size:3em;
        
    }
    </style>
    {% endblock %}
    
<h2 align=center>About</h2>

<p align=center> This Project Is to Detect Phishing Websites Using Machine Learning Techniques.</p>

{% endblock %}